body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 16px;
    height:200vh;
    font-family: "Times New Roman", Times, serif;
}
nav{
    box-sizing: border-box;
    margin:0;
    padding:0;
    display: block;
    position: fixed;
    top: 0;
    left:0;
    width:100vw;
    max-width:100%;
    height: 10vh;
    border-bottom: 1px solid #FFFFFF;
    z-index:2;
}
.centrate{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: block;
    width:60%;
    height:auto;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
}
.logo{
    max-height:90%;
    width: auto;
    border-radius: 50%;
    transition: 500ms;
}
.logo:hover{
    border-radius: 0%;
}
.nav-links a{
    padding-bottom: 5px;
    font-size: 18px;
    margin: 0 3vw 0 3vw;
    text-decoration: none;
    font-weight: bold;
    color:#FFFFFF;
    border-bottom: 2px solid #FFFFFF; 
    border-radius: 5%;
}
.nav-links a:hover{
    padding-bottom: 10px;
}
header{
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    border:1px solid green;
    z-index:1;
}
#slider{
    position: relative;
    height:100%;
    overflow: hidden;
}
.slider-image{
    opacity:0;
    position: absolute;
    animation-name:scale-image;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    height:100%;
}
#slider img:nth-child(2){
    animation-delay: 4s;
}
#slider img:nth-child(3){
    animation-delay: 8s;
}
@keyframes scale-image{
    0%{
        opacity:0;
        transform: scale(1);
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
        transform: scale(1.1);
    }
}
@media (max-width:1080px){
    .container{
        width:80%;
    }
}
@media (max-width:720px){
    .container{
        width:100%;
    }
}